{{#if addNewListing}}
<h1>New Listing</h1>
   <div>
     <form>
       <div class="form-group">
         <label for="title">Title</label>
         {{input value=title id="title"}}
       </div>
       <div class="form-group">
         <label for="details">Details  <span class="option">(optional)</span></label>
         {{input value=details id="details"}}
       </div>
       <div class="form-group">
         <label for="image">Image url  <span class="option">(optional)</span></label>
         {{input value=image id="image"}}
       </div>
       <p class="little"> Hint: Use <a href="http://www.gps-coordinates.net/">http://www.gps-coordinates.net/</a>:</p>
       <div class="form-group">
        <label for="latitude">Latitude  <span class="option">(optional)</span></label>
        {{input value=latitude id="latitude"}}
      </div>
      <div class="form-group">
        <label for="longitude">Longitude <span class="option">(optional)</span></label>
        {{input value=longitude id="longitude"}}
      </div>


       <button {{action 'save'}}>Save</button>
     </form>
   </div>
 {{else}}
    <button {{action 'listingFormShow'}}>New Listing</button>
{{/if}}
