{{#if addNewListing}}
<h1>New Listing</h1>
   <div>
     <form>
       <div class="form-group">
         <label for="title">Title</label>
         {{input value=title id="title"}}
       </div>
       <div class="form-group">
         <label for="details">Details</label>
         {{input value=details id="details"}}
       </div>
       <div class="form-group">
         <label for="image">Image url (optional)</label>
         {{input value=image id="image"}}
       </div>

       <button {{action 'save'}}>Save</button>
     </form>
   </div>
 {{else}}
    <button {{action 'listingFormShow'}}>New Listing</button>
{{/if}}
